* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 100%;
  margin: 0 auto;
}

h5 {
  /* font-size:  13px; */
  font-weight: bold;
  color: #6e6d6d;
  margin-bottom: 15px;
}

.container {
  display: flex;
}

.sideNavBar {
  height: 100vh;
  padding: 20px;
  background: #0052CC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sideNavTopBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15%;
  justify-content: space-between;
}

.mainNavMenuBar {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #f5f5f5;
  padding: 20px;
  min-width: 210px;
}

.topCompanyTitle {
  color: #a6a6a6;
  margin-bottom: 30px;
}

.menuNavItem {
  width: 100%;
  padding: 12px 18px; 
  color: rgb(80, 79, 79);
  font-size: 13px;
  display: flex;
  align-content: center;
}

.active {
  background: rgb(231, 231, 231);
  color: rgb(0, 132, 255);
  border-radius: 4px;

}

.hrBreakPoint {
  margin: 25px 0;
}

.kanbanMainArea {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 85%;
  border: 1px solid goldenrod
}

.breadcrumbs {
  display: flex;
  font-size:  14px;
  font-weight: bold;
  color: #6e6d6d;
  margin-bottom: 15px;
}

.hrPadding {
  padding: 0 15px;
}

.mainTitleArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn {
  font-size: 13px;
  font-weight: bold;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.kanbanTopMenu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #6e6d6d;
  margin-bottom: 30px;
}

.searchInputArea {
  background:  #f5f5f5;
  border: none;
  padding: 10px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.searchInput {
  background: none;
  border: none;
  margin-left: 10px;
}

.searchInput:focus {
  outline: none;
}

.mainBoardArea {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sectionBoardArea {
  background: #f5f5f5;
  height: 100%;
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border-radius: 3px;
}

.boardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
}